@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&display=swap');
@font-face {font-family: 'ProximaNova-Regular';src: url('../webfonts/23533C_8_0.eot');src: url('../webfonts/23533C_8_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/23533C_8_0.woff') format('woff'),url('../webfonts/23533C_8_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Bold';src: url('../webfonts/23533C_A_0.eot');src: url('../webfonts/23533C_A_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/23533C_A_0.woff') format('woff'),url('../webfonts/23533C_A_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Semibold';src: url('../webfonts/30622B_2_0.eot');src: url('../webfonts/30622B_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/30622B_2_0.woff2') format('woff2'),url('../webfonts/30622B_2_0.woff') format('woff'),url('../webfonts/30622B_2_0.ttf') format('truetype');}

:host {
 --innerPage-primaryColor: #62BB46;
 --innerPage-h3color: #1C2B39;
 --innerPage-buttonHoverBgColor: #1C2B39;
 --innerPage-buttonActiveBgColor: #1C2B39;
 --innerPage-progressBarColor: #62BB46;
 --innerPage-progressBarCompleteColor: #62BB46;
 --innerPage-linkColor: #62BB46;
 --innerPage-linkHoverColor: #1C2B39;
 --innerPage-linkActiveColor: #1C2B39;
 --primary: #62BB46;
 --form-btn-primary-bgcolor: #62BB46;
 --form-btn-primary-hover: #1C2B39;
 --form-btn-primary-active: #1C2B39;
 --form-field-border--active: #1C2B39;
}

* {
	font-family: 'ProximaNova-Semibold', Helvetica, Arial, sans-serif !important;
}
 
* :not(#createPledge) :not(.toggle--btn, #createPledge) {
    color: #1C2B39 !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
}

.mppw-component-container {
	width: 1160px;
	margin: 0 auto;
	padding-bottom: 100px;
}

.mpp-innerpage > img {
	display: none;
}

.mpp-innerpage--contacts-wrapper h3 {
	margin-bottom: 25px;
}

.mppw-btn {
	min-width: 200px;
	padding: 15px 10px;
	margin: 0;
	margin-top: 25px;
	border-radius: 0;
	box-shadow: none;
}

#inquiryContainer {
	display: block !important;
}

#signupContainer, #formTabs {
	display: none !important;
}

#inquiryContainer:before {
	content: 'Sign Up';
	font-size: 1.4em;
	line-height: 3;
	border-bottom: solid;
	padding: 5px 0px;
}

@media screen and ( max-width: 1300px ) {
	.mppw-component-container {
		width: 90%;
	}
}



.mpp-card--image {
    display: none !important;
}

.mpp-card--body {
    padding-top: 36px !important;
}

.mpp-card {
    color: rgba(28, 43, 57, 0.8);
    border-radius: 10px !important;
    box-shadow: none !important;
    border: 1px solid rgba(28, 43, 57, 0.3);
}

.mpp-card--footer {
    text-align: center;
}

.buildDetailsButton {
    margin: 0 !important;
}

#myPledgesWrapper {
    display: none !important;
}

.mpp-card--title {
    color: #1C2B39;
}

#title {
    display: none;
}

#description {
    text-align: center;
}

.mppw-btn  {
    margin: 0;
    box-shadow: none;
    background: #77be43;
    border-radius: 0 !important;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: .875rem;
    line-height: 1em;
    font-weight: 700;
    margin-top: 2em;
    padding: 11px 10px;
    min-width: 100px;
    border-width: 2px;
    border: 3px solid #62bb46;
    transition: background .3s,color .3s,border-color .3s;
    color: white;
}

.mppw-btn:hover  {
    background: transparent;
    border-color: #62bb46;
    color: #62bb46 !important;
}

.mppw-component-container {
    width: 100% !important;
}

.mpp-card--header #title {
    display: none !important;
}

#gradient > stop {
    stop-color: #78e655;
}

#gradient > stop:first-child {
    stop-color: #62BB46;
}

.mpp-pledge-campaign .progress-legend--pledged {
    background: #62BB46;
}

.mppw-btn.secondary {
    margin: 0 !important;
    height: 100%;
}

#pledgeAmountButtonWrapper {
    padding: 0;
}

.form--row {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mppw-form-field.mppw-form-field__static-container {
    margin: 0;
}

#pledgeForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#pledgeForm h2 {
    display: none;
}

#pledgeForm h3 {
    margin-bottom: 3px;
}

.mppw-right.form--footer.form--row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mppw-right.form--footer.form--row > *:first-child {
    display: none !important;;
}

.mpp-card--header {
    margin: 0 !important;;
}

.form--row > .form--col, #pledgeAmountButtonWrapper {
    height: 60px !important;;
}

#alertContainer {
    margin-top: 50px;
}

.secondary:not(:disabled):not(.disabled).active, .secondary:not(:disabled):not(.disabled):active, .show > .secondary.dropdown-toggle {
    color: white !important;
}

#contactBlankForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 600px) {
    #pledgeForm {
        flex-wrap: wrap;
    }
    
    #pledgeForm :not(.form--row:nth-child(1)) {
        flex-wrap: wrap;
        gap: 20px;
    }
    
    #pledgeForm .form--row:nth-child(1) {
        
    }
    .form--row {
        flex: 1 1 100%;
    }
    .form--col {
        padding-right: 0 !important;;
    }
    div div.mppw-component-container.mpp-pledge-campaign div#pledgeCampaignWrapper form#pledgeForm div.form--row div.form--col div.form--row {
        display: flex;
        gap: 20px;
    }
}