@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}


.mpp-subscriptions--body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.mpp-card-multiselect {
    border-radius: 10px !important;
    box-shadow: none !important;
    flex: 0 0 250px;
    position: relative;
    border-color: #77be43 !important;
    padding: 10px 35px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mpp-subscriptions--body::after {
  content: '';
  flex: 0 0 250px;
}


.mpp-card-multiselect--image, .mpp-subscriptions--header {
    display: none !important;
}

.mpp-card-multiselect--checkbox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2%;
}

.mpp-card-multiselect--text-wrapper {
    color: #1c2b39;
}

.mpp-card-multiselect--text-wrapper {
    margin: 0;
}

.mpp-card-multiselect--checkbox span {
    border: 1px solid #77be43;
    height: 20px;
    width: 20px;
    border-radius: 0;
    margin-top: 8px;
    transition: transform 0s ease-out;
}

.mpp-card-multiselect--checkbox input:checked ~ span::after {
    border-width: 0 2px 2px 0;
    height: 9px;
    width: 3px;
    margin-top: -2px;
}

.mpp-card-multiselect--checkbox input:checked ~ span {
    background: #77be43;
    border-color: #77be43;
}

.mpp-card-multiselect--checkbox:hover span, .mpp-card-multiselect--checkbox:focus span, .mpp-card-multiselect--checkbox:focus-within span {
    border-color: #77be43;
    transform: scale(1.05);
}

.mpp-card-multiselect--checkbox input ~ span::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
}

.mpp-card-multiselect--checkbox input:checked ~ span::before {
    background: rgba(119, 190, 67, 0.2) !important;
}

.mpp-card-multiselect:hover {
    background: rgba(119, 190, 67, 0.3) !important;
}

.collapse--label {
    display: none !important;
}

#subscriptionsForm .mppw-row > :not(:first-child) { 
    flex: 0;
    margin: auto;
}


#updateButton {
    margin: 0;
    box-shadow: none;
    background: #77be43;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    margin-top: 2em;
}

.mppw-col .mpp-card-multiselect--checkbox {
    position: relative;
    display: flex;
    
}

#subscriptionsForm .mppw-row > :first-child { 
    display: flex;
    flex-direction: row;
    flex: 0;
    margin: 0;
    padding: 0;
}

.mppw-row {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mppw-col .mppw-left, div.mppw-col:nth-child(1) {
    width: 100%;
}

.mppw-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mppw-col .mppw-left span {
    margin: 0;
    padding: 0;
}

.mpp-card-multiselect--title {
    font-size: 0.85em;
    font-weight: 700;
}

.mpp-subscriptions--description {
    font-size: 0.8em;
}